.Message{
    position: relative;
    height: 15%;
    width: 100%;
    border-top: 1px solid lightgrey;
  }
  
  .Message-text{
    width: 100%;
    height: 90%;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: rgb(61, 61, 61);
    font-size: 15px;
    outline: 0;
    outline-offset: 0;
  }
  
  .Send{
    position: absolute;
    top: -50%;
    right: -120px;
    background: none;
    border: none;
    color: lightgrey;
    transform: translateY(-50%);
    font-size: 20px;
    transition: .2s all ease;
    outline: 0;
    outline-offset: 0;
  }
  
  .Send:hover{
    cursor: pointer;
    color: grey;
  }